.map-section {
    padding: 80px 20px;
    text-align: center;
  }
  
  .map-section h2 {
    margin-bottom: 30px;
  }
  
  .map-container {
    max-width: 1200px;
    margin: auto;
  }
  
  .map-container iframe {
    width: 100%;
    height: 450px;
  
    border: none;
    border-radius: 10px;
  }